<div class="content">
    <div>
        <h2 class="title-page">Login</h2>
        <section class="content-section">
        
            <form class="form" #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
        
                <label for="email" class="form-label">Email: </label>
                <input type="email" class="form-input" name="email" [(ngModel)]="email" #correo="ngModel" required />
    
                <label for="password" class="form-label">Password: </label>
                <input type="password" class="form-input" name="password" [(ngModel)]="password" #pass="ngModel"
                    required />
    
                <input class="form-btn" type="submit" value="Login" [disabled]="!formLogin.valid">
    
                <span [ngClass]="(correo.touched && !correo.valid) || (pass.touched && !pass.valid) ? 'active':'non-active'"
                class="wrongData">
                Los Datos son Incorrectos</span>
                <!-- <span [ngClass] = "registerComplete ? 'active':'non-active'" class="succesful">Registro Completo</span> -->
    
            </form>
        </section>
    </div>
    
</div>